<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Match CV</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

<!-- Favicons -->
<link href="{{ url_for('static', filename='img/cv.jpg') }}" rel="icon">
<!-- <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon"> -->

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/remixicon/remixicon.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">


  <!-- =======================================================
  * Template Name: Valera
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/valera-free-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <h1>CV Matcher</h1>
      <h2></h2>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center ">
    <div class="container-fluid d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><img src="{{ url_for('static', filename='img/orbit.png') }}" alt=""></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="#pricing">Prediction</a></li>
      </nav>
      <!-- .navbar -->

      <div class="header-social-links d-flex align-items-center">
        <h1 class="logo me-auto me-lg-0"><img src="{{ url_for('static', filename='img/KM.png') }}" alt=""></h1>
      </div>

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
        </div>

        <div class="row content">
          <div>
            <p class="fs-4 text-center">
              CV Matcher adalah sebuah alat atau sistem yang digunakan untuk membandingkan dan mencocokkan Curriculum Vitae (CV) atau resume kandidat dengan persyaratan pekerjaan yang diinginkan oleh suatu perusahaan atau organisasi. 
              Tujuan utama dari CV Matcher adalah menyaring dan mengidentifikasi kandidat yang paling sesuai dengan kebutuhan spesifik suatu posisi pekerjaan.
            </p>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <a href="#pricing" class="btn-learn-more" style="margin-top: 2rem;">Lets Try</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
      <div class="container">

        <div class="row">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-1.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-2.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-3.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-4.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Team</h2>
          <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{{ url_for('static', filename='img/team/naufal.jpg') }}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/naufalan_/" target="_blank"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/naufal-ans" target="_blank"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Muhammad Naufal Anshory</h4>
                <h6><a href="https://ulm.ac.id/id/" target="_blank">Universitas Lambung Mangkurat</a></h6>
                <span>Full-Stack Developer</span>
                <span>Data Acquisition</span>
                <span>Data Collector</span>
                <span>Report Writer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{{ url_for('static', filename='img/team/atiraa.jpg') }}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/atirabila/" target="_blank"><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Atira Salsabila</h4>
                <h6><a href="https://ulm.ac.id/id/" target="_blank">Universitas Lambung Mangkurat</a></h6>
                <span>Project Manager</span>
                <span>Problem Scoping</span>
                <span>Data Acquisition</span>
                <span>Data Collector</span>
                <span>Report Writer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{{ url_for('static', filename='img/team/fahri1.jpg') }}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4> Fahri Mahful</h4>
                <h6><a href="https://www.ung.ac.id/" target="_blank">Universitas Negeri Gorontalo</a></h6>
                <span>Data Acquisition</span>
                <span>Data Collector</span>
                <span>Report Writer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-stretch" style="padding: 7rem; padding-top: 1rem; padding-bottom: 0">
            <div class="member">
              <div class="member-img">
                <img src="{{ url_for('static', filename='img/team/syifaa.jpeg') }}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Nur Syifa</h4>
                <h6><a href="https://unism.ac.id/" target="_blank">Universitas Sari Mulia</a></h6>
                <span>Data Collector</span>
                <span>Report Writer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-stretch" style="padding: 7rem; padding-top: 1rem; padding-bottom: 0">
            <div class="member">
              <div class="member-img">
                <img src="{{ url_for('static', filename='img/team/kurniawan.jpeg') }}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Kurniawan Ali Male</h4>
                <h6><a href="https://www.ung.ac.id/" target="_blank">Universitas Negeri Gorontalo</a></h6>
                <span>Data Collector</span>
                <span>Report Writer</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" >

        <div class="section-title">
          <h2>SELEKSI CV</h2>
          <p>Silahkan Uploadkan File CV dalam Bentuk Text Document Dibawah Ini.</p>
        </div>

        <div class="row container d-flex align-items-stretch ">

          <div class="col align-self-center">
            <div class="box">
              <form action="/match" method="post" enctype="multipart/form-data">
                <!-- <button type="button" class="btn">Upload File txt:</button> -->
                <input type="file" id="resume" name="resume" multiple accept="text/plain" onchange="handleFiles(this.files)">
                <!-- <input class="btn" type="submit" value="Match" /> -->
                <button type="submit" class="btn btn-danger container text-center mt-4" value="Match">Match</button>
              </form>
            </div>
          </div>
        </div>

        <div class="container text-center" id="result">
          {% if result %}
          <h2 style="margin-top: 4rem;">Match Result</h2>
          <p style="margin-bottom: 4rem;">{{ result }}</p>
          {% endif %}
        </div>
    
        <div id="top-five">
          {% if top_five %}
          <h2 class="container text-center">Top Five Matches</h2>
          <table class="table table-sm">
            <tr>
              <th>Job</th>
              <th>Similarity</th>
            </tr>
            {% for job, similarity in top_five %}
            <tr>
              <td>{{ job }}</td>
              <td>{{ similarity }}</td>
            </tr>
            {% endfor %}
          </table>
          {% endif %}
        </div>
      </div>
    </section><!-- End Pricing Section -->

    </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">

      <div class="container">

        <div class="row  justify-content-center">
          <div class="col-lg-6">
            <h3>Accuracy III</h3>
            <h6>Orbit Future Academy</h6>
          </div>
        </div>

        <div class="row footer-newsletter justify-content-center">
          <div class="col-lg-6">
            <form action="" method="post">
              <!-- <input type="email" name="email" placeholder="Enter your Email"><input type="submit" value="Subscribe"> -->
            </form>
          </div>
        </div>

        <div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>

      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <!-- <div class="copyright">
        &copy; Copyright <strong><span>Valera</span></strong>. All Rights Reserved
      </div> -->
      <!-- <div class="credits">
        All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/valera-free-bootstrap-theme/
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer> End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{{ url_for('static', filename='vendor/purecounter/purecounter_vanilla.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>

<!-- Template Main JS File -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>


</body>

</html>